@charset "UTF-8";
/* CSS Document */
html, body {
	font-family:"myriad-pro";
}
.box {
	display:block;
	height:auto;
	overflow:hidden;
}
.fleft {
	float:left;
}
.fright {
	float:right;
}
.fcenter {
	margin:0 auto;
}
.fwidth {
	width:100%;
}
*, p, a {
	margin:0;
	padding:0;
}
a {
	text-decoration:none;
	outline:none;
}
.no-column {
	padding-left:0px!important;
	padding-right:0px!important;
}
.ocultar {
	display:none;
	visibility:hidden;
}
.mostrar {
	display:block;
	visibility:visible;
}


/*Wannabi*/
body {
	padding-top:15px;
	background:#e6e7e1;
}
header {
	background:#FFF;
	padding:20px 0;
	margin-bottom: 15px;
}
header nav ul {
	margin-top:6px;
}
header nav ul li {
	list-style:none;
	display:inline-block;
	/*width:19%;*/
	text-align:center;
	/*border-right:1px solid;*/
	margin-right:10px;
}
header nav ul li a{
	padding:6px 0px;
	display:block;
	width:100%;
	font-size:12px;
	text-transform:uppercase;
	color:#515151;
}
header nav ul li:last-child {
	border-right:none;
}
header nav ul li a:hover{
	color:#19a191;
}

header nav select {
  display: none;
}
@media (max-width: 1199px) {
  header nav ul     { display: none; }
  header nav select { display: block; margin:20px auto; }
}
.dropdown-menu {
	margin: 0!important;
}
.dropdown-menu .sub-menu {
    left: 100%;
    position: absolute;
    top: 0;
    visibility: hidden;
    margin-top: -1px;
}

.dropdown-menu li:hover .sub-menu {
    visibility: visible;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.nav-tabs .dropdown-menu, .nav-pills .dropdown-menu, .navbar .dropdown-menu {
    margin-top: 0;
}

.navbar .sub-menu:before {
    border-bottom: 7px solid transparent;
    border-left: none;
    border-right: 7px solid rgba(0, 0, 0, 0.2);
    border-top: 7px solid transparent;
    left: -7px;
    top: 10px;
}
.navbar .sub-menu:after {
    border-top: 6px solid transparent;
    border-left: none;
    border-right: 6px solid #fff;
    border-bottom: 6px solid transparent;
    left: 10px;
    top: 11px;
    left: -6px;
}

header ol {
	overflow: hidden;
	text-align:center;
	margin-bottom:0;
}
header ol li {
	display:inline-block;
	*display:inline; /*IE7*/
	*zoom:1; /*IE7*/
	overflow:hidden;
}
header ol li a {
	color:#27cab7;
}
header ol li a:hover {
	color:#19a191;
}
/*Header secciones*/
#header-secciones img {
	min-width:100%;
	width:100%;
}

.buscador-menu {
	padding-top: 10px;
	padding-bottom: 13px;
}
.buscador-menu input{
	border-radius: 7px;
	border: 1px solid rgba(0, 0, 0, .2);
}
.buscador-menu input[type="text"]{
	width: 70%;
	padding: 3px 10px;
	display: inline-block;
	margin-right: 3px;
	font-size: 10px;
}
.buscador-menu input[type="submit"]{
	width: 20%;
	font-size: 10px;
	padding: 4px 10px;
	border: none;
	display: inline-block;
	background: #CCC;
}

#bajada-blog {
	margin-top:9px;
	margin-bottom:12px;
}
#bajada-blog img {
	max-width:100%;
	min-width:100%;
	height:auto;
}
#bajada-blog .texto p{
	padding-top:5%;
	padding-left:5%;
	color:#FFF;
}
.buscador-index p{
	font-style:italic;
	line-height: 2em;
	font-size: 120%;
}
.buscador-index input[type="text"]{
	width: 60%;
	border-radius: 12px;
	border: 1px solid #CCC;
	padding: 16px;
	display: inline-block;
	line-height: 0;
}

.buscador-index {
	padding-bottom: 20px;
}
.buscador-index input[type="submit"] {
	width: 20%;
	margin-left: 12px;
	border: none;
	background-color:#58dcce;
	font-size:18px;
	text-decoration:none;
	color:#fff;
	position:relative;
	padding:10px 20px;
	text-align: center;
	background-image: linear-gradient(bottom, rgb(88,220,206) 0%, rgb(67,184,172) 100%);
	border-radius: 5px;
	box-shadow: inset 0px 1px 0px rgb(88,220,206), 0px 5px 0px 0px rgb(67,184,172), 0px 10px 5px #999;
	display: inline-block;
}
 
.buscador-index input[type="submit"]:active {
	top:3px;
	background-image: linear-gradient(bottom, rgb(88,220,206) 100%, rgb(67,184,172) 0%);
	box-shadow: inset 0px 1px 0px rgb(88,220,206), 0px 2px 0px 0px rgb(67,184,172), 0px 5px 3px #999;
}
 





.buscador-index input[type="text"]::-webkit-input-placeholder {
   color: #CCC;
   font-style: italic;
}
.buscador-index input[type="text"]:-moz-placeholder { /* Firefox 18- */
color: #CCC;
font-style: italic;
}
.buscador-index input[type="text"]::-moz-placeholder {  /* Firefox 19+ */
color: #CCC;
font-style: italic;
}
.buscador-index input[type="text"]:-ms-input-placeholder {  
color: #CCC;
font-style: italic;
}

/* para browser */
@media (max-width: 990px) {
	#bajada-blog .texto p{
		padding-top:3%;
		padding-left:5%;
		padding-bottom:5%;
	}
}
/* para dispositivo */
@media only screen and (max-device-width: 990px) {
	#bajada-blog .texto p{
		padding-top:3%;
		padding-left:5%;
		padding-bottom:5%;
	}
}

.sabias-que {
	padding: 20px;
	background: rgba(85,195,227,.3);
	border-radius:12px ;
	margin-bottom: 30px;
	margin-top: 20px;
}
.sabias-que img {
	border-radius: 50%;
	max-width: 120px;
	min-width: 120px;
}
.sabias-que h4 {
	margin-top: 2.5%;
} 
.sabias-que p {
	font-size: 120%;
	font-style: italic;
}

#adopcion-index img{
max-width: 100%;
min-width: 100%;
}

/*Slide home*/

.titular-seccion {
	border-bottom: 1px solid;
	padding: 0;
	margin-bottom: 10px;
}
.titular-seccion h6 {
	text-transform: uppercase;
}
.contenedor-bloq-home {
	min-height: 332px;
	background: rgba(255,255,255,.3);
	padding: 10px;
}
.mascota-perdida img {
	max-width: 100%;
	margin-bottom: 10px;
}
.mascota-perdida .content-caja-sidebar-home {
	padding-bottom: 10px;
	margin-bottom: 20px;
}
.datos-mascota p {
	font-size: 11px;
	margin-bottom: 12px;
}
.mascota-perdida a.vermas {
	background:#fff;
	border: 1px solid #000;
	border-radius: 12px;
	color: #000;
	display: inline-block;
	margin: 20px auto 0 auto;
	padding: 5px 10px;
	text-align: center;
	text-transform: capitalize;
	transition:all .5s ease;
	text-decoration:none;
}
.contenedor-bloq-home a.vermas{
	background:#fff;
	border: 1px solid #000;
	border-radius: 12px;
	color: #000;
	display: inline-block;
	margin: 20px auto 0 auto;
	padding: 5px 10px;
	text-align: center;
	text-transform: capitalize;
	transition:all .5s ease;
	text-decoration:none;
}
.contenedor-bloq-home a.vermas:hover{
	background: #000;
	color: #FFF;
}
#slider-produtos-home{
	border: 0!important;
	margin: 0!;
}
#slider-produtos-home p {
	margin: 5px 0;
}
#slider-noticias-recientes {
	margin-bottom: 20px;  
	background: #fff; 
	border: 4px solid #fff; 
	
	-webkit-border-radius: 4px; 
	-moz-border-radius: 4px; 
	-o-border-radius: 4px; 
	border-radius: 4px; 
	-webkit-box-shadow: 0 1px 4px rgba(0,0,0,.2); 
	-moz-box-shadow: 0 1px 4px rgba(0,0,0,.2); 
	-o-box-shadow: 0 1px 4px rgba(0,0,0,.2); 
	box-shadow: 0 1px 4px rgba(0,0,0,.2); 
	
}

.container-slide {
	height:100%;
	border:3px solid inset;
	position:relative;
}
.txt-slide {
	position:absolute;
	right: 0;
    width: 31%;
	height:100%;
	padding:0 2%;
	background:rgba(74,247,249,.5);
}
.tabla {
	display:table;
	height:100%;
}
.tabla .table-cell {
	display:table-cell;
	vertical-align:middle;
	height:100%;
	color:#FFF;
}
.txt-slide .tabla .table-cell h1{
	font-family:"source-code-pro";
	font-weight:600;
	letter-spacing:-2px;
	text-decoration:underline;
}
.txt-slide .tabla .table-cell h1 a{
	color: #FFF;
}



/* para browser */
@media (max-width: 960px) {
	.txt-slide {
		width: 35%;
		padding:0 2%;
	}
	.txt-slide p{
		font-size:11px;
	}
	.txt-slide h1{
		font-size:14px;
	}
}
/* para dispositivo */
@media only screen and (max-device-width: 480px) {
	.txt-slide {
		width: 40%;
		padding:0 2%;
	}
	.txt-slide p{
		font-size:9px;
		line-height:9px;
	}
	.txt-slide h1{
		font-size:14px;
	}
}


/**/
#blog-home {
	margin-bottom:40px;
	margin-top: 20px;
}
#notas .item {
	width:31%;
	min-height:466px;
	margin:7px 1%;
	padding-bottom:20px;
	background:#FFF;
}
#notas .item img{
	width:100%;
}
#notas .item h2 {
	font-family:"source-code-pro";
	font-weight:600;
	letter-spacing:-2px;
}
#notas .item p {
	font-size:12px;
}
#notas .fecha {
	border-bottom:1px solid;
	padding-top:29px;
}
#notas .fecha p {
	font-weight:700;
	font-style:italic;
}
#notas a.mas {
	display:inline-block;
	padding:5px 10px;
	border-radius:12px;
	border:1px solid #000;
	background:#FFF;
	text-transform:capitalize;
	text-align:center;
	margin:20px auto;
	color:#000;
	transition:all .5s ease;
	-moz-transition:all .5s ease;
	-webkit-transition:all .5s ease;
}
#notas a.mas:hover {
	text-decoration:none;
	background:#000;
	color:#FFF;
}

/*Item destacado*/ 
.destacado {
	height:559px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color:#FFF;
	position:relative;
}
#notas .destacado .container-fluid{
	height:104%;
	position:relative;
}
#notas .destacado  h2 {
	margin-top:50%;
}

#notas .destacado a.mas {
	border:1px solid #FFF;
	background:none;
	color:#FFF;
}
#notas .destacado a.mas:hover {
	text-decoration:none;
	background:#FFF;
	color:#000;
}
#notas .destacado .fecha {
	position:absolute;
	border-bottom:1px solid;
	padding-top:29px;
	bottom:2%;
	left:2%;
	width:96%;
}
#notas .destacado .fecha p {
	font-style:italic;
	font-weight:500;
}


/* para browser */
@media (max-width: 640px) {
	#notas .item {
		width:47%;
		margin:7px 1%;
	}
}
/* para dispositivo */
@media only screen and (max-device-width: 640px) {
	#notas .item {
		width:47%;
		margin:7px 1%;
	}
}

/* para browser */
@media (max-width: 480px) {
	#notas a.mas {
		margin:40px 0 20px 13%;
	}
}
/* para dispositivo */
@media only screen and (max-device-width: 480px) {
	#notas .item p {
		font-size:10px;
	}
	
	#notas a.mas {
		margin:40px 0 20px 13%;
		font-size:10px;
	}
	#notas .fecha {
		border-bottom:1px solid;
		padding-top:12px;
		margin-bottom:20px;
		text-align:center;
	}
	.flex-direction-nav a {
		width: 30px;
		height: 30px;
	}
	.flex-direction-nav a:before {
		font-size: 30px;
	}
	.flex-control-paging li a {
		width: 10px;
		height: 10px;
	}
	
}

/*Blog*/


/*Breadcrumb*/
#breadcrumbs ol.breadcrumb{
	margin-bottom:0!important;
	border-radius:0;
	padding: 7px 15px;
	font-size: 12px;
}
/*Single blog*/
#header-secciones .header-single {
	height:220px;
	position:relative;	
}
#header-secciones .header-single h1{
	color:#FFF;
	text-decoration:underline;
	padding-left:8%;
	font-weight:700;
}
#header-secciones .header-single .bg-gradient-top, #header-secciones .header-single .bg-gradient-bottom {
	position:absolute;
	display:block;
	height:100%;
	left:0;
	top:0;
	opacity:.4;
	z-index:0;
}
#header-secciones .header-single .bg-gradient-top {
	width:40%;
	background:#F00;
}
#header-secciones .header-single .bg-gradient-bottom {
	width:45%;
	background:#FFF;
}

#contenido-single #loop {
	background:#FFF;
}
#loop {
	padding-top:50px;
	padding-bottom:50px;
}
#loop h2, #loop h3 {
	font-weight:700;
	letter-spacing:-2px;
}
#loop .fecha {
	border-bottom:2px solid;
	font-style:italic;
	padding-left:0;
}
#loop p {
	font-size:13px;
	line-height:1.5em;
	margin-bottom:14px;
}
#loop img {
	margin:20px;
}
.footer-loop {
	margin-top:20px;
}
.footer-loop li{
	list-style:none;
	display:inline-block;
	margin:0 10px;
}
.footer-loop li a{
	color:#e84084;
}
.footer-loop li a:hover {
	color:#d5266d;
}
#sidebar {
	margin-top: 30px;
}

/*Contacto*/
.contacto {
	background:#FFF;
	padding:20px 0;
}
.contacto p {
	color:#565656;
}
.contacto form {
	margin:50px 0;
}
.contacto form input[type="text"], .contacto form input[type="email"], .contacto form input[type="tel"], .contacto form textarea{
	width:100%;
	border:0;
	background:#e6e7e1;
	padding:3px;
}
.contacto form input[type="submit"] {
	border:0;
	background:#e6e7e1;
	padding:6px 25px;
	display:inline-block;
	font-style:italic;
}
.contacto form textarea {
	height:150px;
}
.contacto form span.requerido {
	color:#F00;
}


/*Clinicas veterinarias*/
#filtros-tipo, #filtros-secundarios {
	background:#FFF;
	padding-top:20px;
	padding-bottom:10px;
}

#filtros-tipo ul{
	 border-bottom: 1px solid #000;
	 padding-left:20px;
}
#filtros-tipo ul li{
	display:inline-block;
	padding:4px 25px;
	border-right:1px solid;
	float:none;
}
#filtros-tipo ul li:first-child{
	padding-left:0px;
}

#filtros-tipo ul li:last-child{
	border-right:none;
}

/* para browser */
@media (max-width: 480px) {
	#filtros-tipo ul{
		 padding-left:0;
	}
}
/* para dispositivo */
@media only screen and (max-device-width: 480px) {
	#filtros-tipo ul li{
		padding:4px 10px;
		font-size:10px;
	}
	#filtros-tipo ul{
		 padding-left:0;
	}
}
#filtros-tipo ul li a{
	color:#515151;
	padding:0!important;
	text-transform:uppercase;
}
#filtros-tipo ul li.active a {
	border:0!important;
	color:#2ca898;
	outline:none;
}
#filtros-tipo ul li a:hover{
	text-decoration:none;
	color:#2ca898;
	background:none;
	border:none;
}
#filtros-secundarios form label{
	padding:5px 10px;
	text-transform:uppercase;
	margin-right:20px;
	font-weight:500;
}
#filtros-secundarios form label input[type="checkbox"] {
	margin-right:5px;
	border:0;
	border-radius:50%;
}

#filtrado .container{
	padding-top:10px;
	padding-bottom:10px;
	background:#FFF;
}
#filtrado .container .contenedor-filtros{
	padding:10px 10px 5px 10px;
}
#filtrado .container .contenedor-filtros p{
}
#filtrado .container p span{
	font-style:italic;
}

#lista-de-clinicas .item-clinica {
	width:24.1%;
	height:283px;
	background:#FFF;
	display:block;
	float:left;
	margin-right:14px;
	margin-top:14px;
	padding:18px 10px;
	font-size:13px;
	line-height:13px;
}
#lista-de-clinicas .item-clinica:nth-child(4n) {
	margin-right:0px;
}
#lista-de-clinicas .item-clinica img{
	max-width:100%;
	margin-bottom:10px;
}
#lista-de-clinicas .item-clinica h4{
	padding:5px 0 5px 0;
	border-top:1px solid;
	font-weight:600;
	letter-spacing:-1px;
	text-transform:uppercase;
}
.dire{
	border-bottom:1px solid;
	width:88%;
	clear:both;
	margin:10px auto 10px 6%;
}

#lista-de-clinicas .item-clinica a.vermas{
    background:#fff;
    border: 1px solid #000;
    border-radius: 12px;
    color: #000;
    display: inline-block;
    margin: 20px auto 0 auto;
    padding: 5px 10px;
    text-align: center;
    text-transform: capitalize;
	transition:all .5s ease;
	text-decoration:none;
}
#lista-de-clinicas .item-clinica a.vermas:hover{
    background:#000;
	color:#FFF;
}
#lista-de-clinicas .item-clinica i {
	color:#e84084;
}


/* para browser */
@media (max-width: 1199px) {
	#lista-de-clinicas .item-clinica {
		width:24.1%;
		margin-right:11px;
	}
}
/* para browser */
@media (max-width: 990px) {
	#lista-de-clinicas .item-clinica {
		width:49.2%;
		margin-right:11px;
	}
	#lista-de-clinicas .item-clinica:nth-child(2n) {
		margin-right:0px;
	}
	
}
@media (max-width: 480px) {
	#lista-de-clinicas .item-clinica {
		width:48%;
		margin-right:11px;
	}
	#lista-de-clinicas .item-clinica:nth-child(2n) {
		margin-right:0px;
	}
	#lista-de-clinicas .item-clinica h4 {
		margin-bottom:0px;
	}
	#lista-de-clinicas .item-clinica .dire{
		margin:5px auto 3px 8%;
		width:83%;
	}
	#productos a.vermas {
	margin: 9px auto;
	width: 100%;
	font-size: 12px;
	}
	

}

/* para dispositivo */
@media only screen and (max-device-width: 480px) {
	#lista-de-clinicas .item-clinica {
		font-size:10px;
		line-height:10px;
	}
	#lista-de-clinicas .item-clinica h4 {
		border-top:none;
	}
	#lista-de-clinicas .item-clinica .dire{
		border:0;
	}
	#lista-de-clinicas .item-clinica a.vermas{
		margin-top:9px;
		
	}
	#productos a.vermas {
		font-size:9px;
    margin: 9px auto;
    width: 100%;
	}
	
}


/*Single veterinaria*/
.single-veterinaria {
	background:#FFF;
	padding: 40px 0;
}
.single-veterinaria h4{
	text-decoration: underline;
}
.single-veterinaria .flexslider ul {
	margin: 60px 0;
}
.single-veterinaria .flexslider ul li img {
	border-radius: 50%;
}
.social-clinica {
	margin-bottom: 60px;
}
.caja-social {
	border: 2px solid #000;
	color: #e84084;
	padding: 5px 10px;
	width: 25%;
}
.caja-social:last-child {
	border-left: 0;
}
.ico-dato-clinica i{
	color: #e84084;
}
.datos-clinica a{
	color: #07a18f;
}

/*Productos*/
#productos {
	padding-top: 26px;
}
#productos .panel{
	border-radius: 0;
	box-shadow: 0;
	border: 0;
}

#productos a.active {
	background: #d14b4b!important;
	color: #FFF!important;
	border: 0;
}
#productos a.active:focus{
	outline: none;
} 
#productos a.item {
	background: #FFF;
} 
#productos a.sub-item {
	background: #e46161;
	display: block;
	width: 100%;
	color: #FFF;
	text-decoration: none;
	padding: 10px;
}

#productos .list-group-item:first-child {	
	border-radius: 0;
}
#productos .producto-lista {
	background: #FFF;
	height:300px;
	margin-right: 20px;
	width: 31%;
	display: block;
	float: left;
	margin-bottom: 20px;
	padding: 2%;
}
#productos .producto-lista img{
	max-width: 100%;
	padding-bottom: 10px;
	border-bottom: 1px solid #333;
}

#productos .producto-lista:nth-child(3n) {
	margin-right:0px;
}
#productos a.vermas {
	background: none repeat scroll 0 0 #fff;
	  border: 1px solid #000;
	  border-radius: 9px;
	  color: #000;
	  display: block;
	  margin: 13px auto;
	  width: 50%;
	  padding: 1px 10px;
	  text-align: center;
	  text-transform: capitalize;
	  transition: all 0.5s ease 0s;
}
#productos a.vermas:hover {
	background: #000;
	color: #FFF;
}

#single-producto {
	background: #FFF;
	padding-top: 20px;
	padding-bottom: 20px;
}
#single-producto .foto-producto {
	padding: 20px 0;
}
#single-producto .foto-producto img {
	max-width: 100%;
}
#single-producto h3 {
	text-decoration: underline;
}
#single-producto p a{
color: #68c6bb;
}
#single-producto .contenedor-producto {
	border-bottom: 1px solid #333;
	padding-bottom: 20px;
	margin-bottom: 20px;
}
.social-producto {
	width: 100%;
}
.social-producto .social-clinica {
	margin-bottom: 0;
} 
.social-producto .caja-social {
	width: 14%;
}
.round-loope{
   border-radius: 75px;
   border: 5px solid #F0F0F0;
}


.producto-lista i, .producto-lista span {
	color: #07a18f;
}

@media (max-width: 1000px) {
	#productos .producto-lista {
		margin-right: 0;
		width: 90%;
	}
	#productos .producto-lista:nth-child(3n) {
		margin-right:0px;
	}
	.social-producto .caja-social{
		width: 25%;
	}
}

/* para dispositivo */
@media only screen and (max-device-width: 1000px) {
	#productos .producto-lista {
		margin-right: 0px;
		width: 90%;
	}
	#productos .producto-lista:nth-child(3n) {
		margin-right:0px;
	}
	.social-producto .caja-social{
		width: 25%;
	}
}
/*Browser*/
@media (max-width: 480px) {

}
/*Dispositivo*/
@media only screen and (max-device-width: 480px) {
	.social-producto .caja-social{
		width: 35%;
	}
	a.list-group-item {
		font-size: 10px;
	}
	#single-producto .contenedor-producto p {
		font-size: 11px;
	}
}



/*Footer*/
footer {
	display:block;
	height:auto;
	overflow:visible;
	background:#FFF;
	padding:0 0 51px;
	position:relative;
	margin-top:50px;
}
footer span.sj {
	display:block;
	position:absolute;
	width:281px;
	height:374px;
	background:url(img/sj-footer.png) center center no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	bottom:0;
	left:60%;
}
footer .logo-menu {
	margin-top:60px;
}
footer .logo ul li {
	display:inline-block;
	list-style:none;
	margin-top:20px;
}
footer .logo ul li a{
	color:#27cab7;
}
footer .logo ul li a:hover {
	color:#19a191;
}
footer .menu-footer ul{
	height:100%;
	border-left:1px solid;
	padding:10px 0 10px 40px;
}
footer .menu-footer ul li {
	list-style:none;
	margin:15px 0;
	text-transform:uppercase;
	font-size:12px;
}
footer .menu-footer ul li a{
	color:#515151;
}
footer .menu-footer ul li a:hover{
	color:#19a191;
}

/* para browser */
@media (max-width: 768px) {
	footer span.sj {
		display:none;
		visibility:hidden;
	}
}
/* para dispositivo */
@media only screen and (max-device-width: 768px) {
	footer span.sj {
		display:none;
		visibility:hidden;
	}
}
